
<h3 class='postCurrent'>Title: <%= post.get("title") %></h3>
<input type="text" name='post[title]' class="postChange hidden" value="<%= post.get("title") %>">
<h6 class='postCurrent'>Body: <%= post.get("body") %></h6>
<textarea  name='post[body]' class="postChange hidden" ><%= post.get("body") %></textarea>
<a href="#">Back</a>