<form id="secret-form">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">


  <label for="secret_text">Secret Text!</label>
  <input type="text" id="secret_text" name="secret[body]">
  <input type="hidden" name="secret[recipient_id]" value="<%= params[:id] %>">



  <div>
    <%= render 'tags_partial' %>
  </div>
  <button id="more_tags">Add Another Tag</button>


  <input type="submit" value="Submit">

</form>

<script>
$('#more_tags').on("click", function(event) {
  event.preventDefault();
  console.log($('#tagHTML').html())
  $('#secret-form > div').append($('#tagHTML').html())
})
</script>